#drawer {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 10;
  right: 0;
  background: $primary;
  margin-top: 3em;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);

  &.show {
    display: flex;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  button {
    padding: 0.5em 2em;
    color: white;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}

.my-modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);

  &.show {
    display: flex;
  }

  .button-container {
    width: 100%;
    display: flex;
  }

  button:first-of-type {
    margin-right: 0.5em;
    background-color: var(--bs-danger);

    &:hover {
      background-color: $dark-red;
    }
  }
}

.edit-modal .form-container {
  width: 500px;
}

.alert-modal {
  p {
    color: var(--bs-gray-dark);
    font-weight: 500;
    text-align: center;
    margin-bottom: 1em;
  }

  .alert-container {
    justify-content: center;
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: $light-gray;
  }

  button {
    flex: 1;
    color: white;
    border-radius: 0.5em;

    &.confirm {
      background: $green;

      &:hover {
        background-color: $dark-green;
      }      
    }
  }
}