#drawer {
  //display: flex;
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  right: 0;
  background: $primary;
  padding: 0.5em 1em;
  margin-top: 3em;
  border-bottom-left-radius: 1em;

  button {
    color: white;
  }
}
