.form-container {
  padding: 1em;
  border-radius: 0.5em;
  background-color: $light-gray;
  color: var(--bs-gray-dark);
  font-weight: 500;
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 0.5em;
  }

  input {
    border: 1px solid var(--bs-gray-dark);
    padding-left: 0.5em;
    flex: 1;
    color: var(--bs-gray-dark);

    &[type='text'],
    &[type='number'] {
      min-width: 120px;
    }
  }

  .input-wrapper label {
    display: flex;
    width: 100%;

    input {
      margin-left: 0.5em;
    }
  }

  button {
    background-color: $green;
    color: white;
    width: 100%;

    &:hover {
      background-color: $dark-green;
    }
  }

  input,
  button {
    border-radius: 0.5em;
  }

  .radio-group {
    margin-bottom: 0.5rem;

    label:last-child {
      margin-left: 1em;
    }
  }

  .error-message {
    display: none;
    padding-bottom: 0.5rem;
    font-size: 0.7em;
    font-weight: 500;
    color: red;
    text-align: center;

    &.show {
      display: block;
    }
  }
}
