header {
  @include rect(100%, 3em);
  @include position(fixed, $z-index: 8);
  background: white;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);

  h1 {
    font-size: 2em;

    i,
    span {
      color: $primary;
    }
  }

  .wrapper {
    position: relative;
    @include flex(center, center);

    button {
      @include rect(2.5rem, 2.5rem, 50%);
      @include position(absolute, $right: 0);
      @include text($dark-gray, 1.5em);

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);

        i {
          color: black;
        }
      }
    }
  }
}
