.list {
  margin-top: 1em;
  border-radius: 0.5em 0.5em 0 0;
  border: 2px solid $primary;
  overflow: hidden;
}

.list-item, .list-header, .list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item, .list-header {
  padding: 0 1em;
  min-height: 2.5em;
}

.list-header {
  background-color: $primary;

  p {
    font-weight: 500;
    font-size: 1.2em;
    color: white;
  }

  span {
    font-size: 0.9em;
  }

  button {
    color: white;
    font-size: 1.2em;
  }
}

.list-item:nth-child(even) {
  background-color: $primary-light;
}

.list-item-content {
  input {
    margin-right: 0.5em;
  }

  p {
    font-size: 1.1em;
    font-weight: 400;
    color: var(--bs-gray-dark);
  }
}

.list-item-actions {
  min-width: 60px;

  button {
    color: var(--bs-gray-dark);
  }
}

.list-summary {
  border: none;
  border-radius: 0 0 0.5em 0.5em;
  overflow: hidden;

  .list-header {
    background-color: $green;
  }
}