.list {
  margin-top: 1em;
  border-radius: 0.5em 0.5em 0 0;
  border: 2px solid $primary;
  overflow: hidden;
}

.list-item, .list-header, .list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-content {
  display: none;
}

.list-content.list-expanded {
  display: block;
}

.list-item, .list-header {
  padding: 0.3em 1em;
  min-height: 2.5em;
}

.list-header {
  background-color: $primary;

  p {
    font-weight: 500;
    font-size: 1.2em;
    color: white;
  }

  span {
    font-size: 0.9em;
  }

  button {
    color: white;
    font-size: 1.2em;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}

.list-item:nth-child(even) {
  background-color: $primary-light;
}

.list-item-content {
  input {
    margin-right: 0.5em;
  }

  input:checked + p {
    text-decoration: line-through;
    opacity: 0.7;
  }

  p {
    font-size: 1.1em;
    font-weight: 400;
    color: var(--bs-gray-dark);
  }
}

.list-item-actions {
  min-width: 60px;

  button {
    color: var(--bs-gray-dark);
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
      
      i {
        color: black;
      }
    }
  }
}

.list-summary {
  border: none;
  border-radius: 0 0 0.5em 0.5em;
  overflow: hidden;

  .list-header {
    background-color: $green;
  }
}

.list-item, .list-body .list-header {
  cursor: move;
}