.list {
  margin-top: 1em;
  border-radius: 0.5em 0.5em 0 0;
  border: 2px solid $primary;
  overflow: hidden;
}

.list-item,
.list-header,
.list-item-content {
  @include flex(space-between, center);
}

.list-content {
  display: none;
}

.list-content.list-expanded {
  display: block;
}

.list-item,
.list-header {
  padding: 0.3em 1em;
  min-height: 2.5em;
}

.list-header {
  background-color: $primary;

  p {
    @include text(white, 1.2em, 500);
  }

  span {
    font-size: 0.9em;
  }

  button {
    @include rect(2rem, 2rem, 50%);
    color: white;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}

.list-item:nth-child(even) {
  background-color: $primary-light;
}

.list-item-content {
  input {
    margin-right: 0.5em;
  }

  input:checked + p {
    text-decoration: line-through;
    opacity: 0.7;
  }

  p {
    @include text($dark-gray, 1.1em, 400);
  }
}

.list-item-actions {
  min-width: 60px;

  button {
    @include rect(1.75rem, 1.75rem, 50%);
    color: $dark-gray;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);

      i {
        color: black;
      }
    }
  }
}

.list-summary {
  border: none;
  border-radius: 0 0 0.5em 0.5em;
  overflow: hidden;

  .list-header {
    background-color: $green;
  }
}

.list-item,
.list-body .list-header {
  cursor: move;
}
