@media print {
  @page {
    size: auto;
    margin: 5mm;
  }

  body {
    font-size: 12px;
  }

  .list-body {
    break-inside: auto;
  }

  .list-item {
    break-inside: avoid;
  }

  header {
    position: absolute;
    box-shadow: none;
    z-index: 2000;
  }

  main {
    padding-top: 0;
  }

  #print-container {
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 6em 6em 1em 6em;
    z-index: 999;
  }

  .list-content {
    display: block;
  }

  .list-item {
    border-top: 1px solid $primary-light;
  }

  button {
    display: none;
  }
}