@media print {
  @page {
    size: auto;
    margin: 5mm;
  }

  body {
    font-size: 12px;
  }

  .list-body {
    break-inside: auto;
  }

  .list-item {
    break-inside: avoid;
  }

  header {
    @include position(absolute, $z-index: 2000);
    box-shadow: none;
  }

  main {
    padding-top: 0;
  }

  #print-container {
    @include position(absolute, $top: 0, $left: 0, $z-index: 999);
    width: 100%;
    padding: 6em 6em 1em 6em;
    background-color: white;
  }

  .list-content {
    display: block;
  }

  .list-item {
    border-top: 1px solid $primary-light;
  }

  button,
  .my-modal.show {
    display: none;
  }
}
